{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
<h1>Привет, меня зовут Яков!</h1>
<p>
  Сейчас перед Вашими глазами мой первый проект, сделанный в рамках курса "Back-end разработчик" от Яндекса
</p>
<p>
  Программирование увлекало меня еще в школьные времена, но судьба привела в Биологию.
  Получая высшее образование, я не раз сталкивался с тем, как навыки программирования могут быть полезны. И вот когда в рамках работы
  в очередной раз появилась необходимость работать с базами данных и разбираться в том, как работают скрипты, я понял, что эта область
  все также интересна для меня, как и в школьные годы. Это меня и натолкнуло на мысль: "А почему бы и нет?".
</p>
<p>
  И так я начал свой путь "программиста". Первым языком для освоения я выбрал Python, так как по советам друзей и людей в интернете
  этот язык является очень дружелюбным к новичкам. Сперва я принялся самостоятельно изучать теорию и использовать полученные знания 
  в решении тренажерных задач. На первых этапах было совсем не просто, но каждая работающая программа вызывал детский восторг!
  Все больше погружаясь в эту область, я решил определиться с конкретным направлением, которое было бы мне ближе.
  В большом разнообразии направлений мой выбор пал на Бэк-енд разработчика
</p>
<p>
  <b>
    И вот я здесь :)
  </b>
</p>
<p>
  Надеюсь, мой первый опыт Вас не сильно напугал. А по всем вопросам и предложениям Вы можете связаться со мной по почте: osipovyakovv@gmail.com
</p>
{% endblock %} 
